{% extends 'base.html' %}
{% load static %}

{% block body_content %}
  {{ block.super }}

  <div class="p-3">
    {% if user.is_authenticated %}
    <div class="card-columns" data-masonry='{"percentPosition": true }' >
      {% for node in nodes %}
        <div class="card mui-b-blue-gray-900" style="width: 24rem; margin: 0.25rem;">
          <div class="card-header h5 mui-bg-blue-gray-700 mui-white">{{ node.name }}</div>
  
          <ul class="list-group list-group-flush">
            {% for link in node.links.all %}
              {% if link.active %}
                <li class="list-group-item">
                  <a href="{{link.uri}}" class="no-decoration" target="_blank">
                    <div class="mui-red-800">
                      {{ link.name }}
                    </div>
                    <div class="h7 mui-blue-gray-800">
                      {{link.uri}}
                    </div>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
    {% else %}
    
    <div class="text-center mui-white h1 p-4">
      Tree Links
    </div>
    {% endif %}
  </div>

{% endblock %}
