@import "mui-red.css";
@import "mui-pink.css";
@import "mui-blue.css";
@import "mui-gray.css";
@import "mui-blue-gray.css";


.mui-white {
  color: #FFF;
}

.mui-bg-white {
  background-color: #FFF;
}

.mui-b-white {
  border-color: #FFF;
}

.mui-black {
  color: #000;
}

.mui-bg-black {
  background-color: #000;
}

.mui-b-black {
  border-color: #000;
}