.mui-blue-gray-50 {
  color: #ECEFF1;
}
    
.mui-bg-blue-gray-50 {
  background-color: #ECEFF1;
}
    
.mui-b-blue-gray-50 {
  border-color: #ECEFF1;
}
    
.mui-blue-gray-100 {
  color: #CFD8DC;
}
    
.mui-bg-blue-gray-100 {
  background-color: #CFD8DC;
}
    
.mui-b-blue-gray-100 {
  border-color: #CFD8DC;
}
    
.mui-blue-gray-200 {
  color: #B0BEC5;
}
    
.mui-bg-blue-gray-200 {
  background-color: #B0BEC5;
}
    
.mui-b-blue-gray-200 {
  border-color: #B0BEC5;
}
    
.mui-blue-gray-300 {
  color: #90A4AE;
}
    
.mui-bg-blue-gray-300 {
  background-color: #90A4AE;
}
    
.mui-b-blue-gray-300 {
  border-color: #90A4AE;
}
    
.mui-blue-gray-400 {
  color: #78909C;
}
    
.mui-bg-blue-gray-400 {
  background-color: #78909C;
}
    
.mui-b-blue-gray-400 {
  border-color: #78909C;
}
    
.mui-blue-gray-500 {
  color: #607D8B;
}
    
.mui-bg-blue-gray-500 {
  background-color: #607D8B;
}
    
.mui-b-blue-gray-500 {
  border-color: #607D8B;
}
    
.mui-blue-gray-600 {
  color: #546E7A;
}
    
.mui-bg-blue-gray-600 {
  background-color: #546E7A;
}
    
.mui-b-blue-gray-600 {
  border-color: #546E7A;
}
    
.mui-blue-gray-700 {
  color: #455A64;
}
    
.mui-bg-blue-gray-700 {
  background-color: #455A64;
}
    
.mui-b-blue-gray-700 {
  border-color: #455A64;
}
    
.mui-blue-gray-800 {
  color: #37474F;
}
    
.mui-bg-blue-gray-800 {
  background-color: #37474F;
}
    
.mui-b-blue-gray-800 {
  border-color: #37474F;
}
    
.mui-blue-gray-900 {
  color: #263238;
}
    
.mui-bg-blue-gray-900 {
  background-color: #263238;
}
    
.mui-b-blue-gray-900 {
  border-color: #263238;
}