.mui-gray-50 {
  color: #FAFAFA;
}
    
.mui-bg-gray-50 {
  background-color: #FAFAFA;
}
    
.mui-b-gray-50 {
  border-color: #FAFAFA;
}
    
.mui-gray-100 {
  color: #F5F5F5;
}
    
.mui-bg-gray-100 {
  background-color: #F5F5F5;
}
    
.mui-b-gray-100 {
  border-color: #F5F5F5;
}
    
.mui-gray-200 {
  color: #EEEEEE;
}
    
.mui-bg-gray-200 {
  background-color: #EEEEEE;
}
    
.mui-b-gray-200 {
  border-color: #EEEEEE;
}
    
.mui-gray-300 {
  color: #E0E0E0;
}
    
.mui-bg-gray-300 {
  background-color: #E0E0E0;
}
    
.mui-b-gray-300 {
  border-color: #E0E0E0;
}
    
.mui-gray-400 {
  color: #BDBDBD;
}
    
.mui-bg-gray-400 {
  background-color: #BDBDBD;
}
    
.mui-b-gray-400 {
  border-color: #BDBDBD;
}
    
.mui-gray-500 {
  color: #9E9E9E;
}
    
.mui-bg-gray-500 {
  background-color: #9E9E9E;
}
    
.mui-b-gray-500 {
  border-color: #9E9E9E;
}
    
.mui-gray-600 {
  color: #757575;
}
    
.mui-bg-gray-600 {
  background-color: #757575;
}
    
.mui-b-gray-600 {
  border-color: #757575;
}
    
.mui-gray-700 {
  color: #616161;
}
    
.mui-bg-gray-700 {
  background-color: #616161;
}
    
.mui-b-gray-700 {
  border-color: #616161;
}
    
.mui-gray-800 {
  color: #424242;
}
    
.mui-bg-gray-800 {
  background-color: #424242;
}
    
.mui-b-gray-800 {
  border-color: #424242;
}
    
.mui-gray-900 {
  color: #212121;
}
    
.mui-bg-gray-900 {
  background-color: #212121;
}
    
.mui-b-gray-900 {
  border-color: #212121;
}