.mui-blue-50 {
  color: #E3F2FD;
}

.mui-bg-blue-50 {
  background-color: #E3F2FD;
}

.mui-b-blue-50 {
  border-color: #E3F2FD;
}
    
.mui-blue-100 {
  color: #BBDEFB;
}
    
.mui-bg-blue-100 {
  background-color: #BBDEFB;
}
    
.mui-b-blue-100 {
  border-color: #BBDEFB;
}
    
.mui-blue-200 {
  color: #90CAF9;
}
    
.mui-bg-blue-200 {
  background-color: #90CAF9;
}
    
.mui-b-blue-200 {
  border-color: #90CAF9;
}
    
.mui-blue-300 {
  color: #64B5F6;
}
    
.mui-bg-blue-300 {
  background-color: #64B5F6;
}
    
.mui-b-blue-300 {
  border-color: #64B5F6;
}
    
.mui-blue-400 {
  color: #42A5F5;
}
    
.mui-bg-blue-400 {
  background-color: #42A5F5;
}
    
.mui-b-blue-400 {
  border-color: #42A5F5;
}
    
.mui-blue-500 {
  color: #2196F3;
}
    
.mui-bg-blue-500 {
  background-color: #2196F3;
}
    
.mui-b-blue-500 {
  border-color: #2196F3;
}
    
.mui-blue-600 {
  color: #1E88E5;
}
    
.mui-bg-blue-600 {
  background-color: #1E88E5;
}
    
.mui-b-blue-600 {
  border-color: #1E88E5;
}
    
.mui-blue-700 {
  color: #1976D2;
}
    
.mui-bg-blue-700 {
  background-color: #1976D2;
}
    
.mui-b-blue-700 {
  border-color: #1976D2;
}
    
.mui-blue-800 {
  color: #1565C0;
}
    
.mui-bg-blue-800 {
  background-color: #1565C0;
}
    
.mui-b-blue-800 {
  border-color: #1565C0;
}
    
.mui-blue-900 {
  color: #0D47A1;
}
    
.mui-bg-blue-900 {
  background-color: #0D47A1;
}
    
.mui-b-blue-900 {
  border-color: #0D47A1;
}
    
.mui-blue-A100 {
  color: #82B1FF;
}
    
.mui-bg-blue-A100 {
  background-color: #82B1FF;
}
    
.mui-b-blue-A100 {
  border-color: #82B1FF;
}
    
.mui-blue-A200 {
  color: #448AFF;
}
    
.mui-bg-blue-A200 {
  background-color: #448AFF;
}
    
.mui-b-blue-A200 {
  border-color: #448AFF;
}
    
.mui-blue-A400 {
  color: #2979FF;
}
    
.mui-bg-blue-A400 {
  background-color: #2979FF;
}
    
.mui-b-blue-A400 {
  border-color: #2979FF;
}
    
.mui-blue-A700 {
  color: #2962FF;
}
    
.mui-bg-blue-A700 {
  background-color: #2962FF;
}
    
.mui-b-blue-A700 {
  border-color: #2962FF;
}