.mui-green-50 {
  color: #E8F5E9;
}
    
.mui-bg-green-50 {
  background-color: #E8F5E9;
}
    
.mui-b-green-50 {
  border-color: #E8F5E9;
}
    
.mui-green-100 {
  color: #C8E6C9;
}
    
.mui-bg-green-100 {
  background-color: #C8E6C9;
}
    
.mui-b-green-100 {
  border-color: #C8E6C9;
}
    
.mui-green-200 {
  color: #A5D6A7;
}
    
.mui-bg-green-200 {
  background-color: #A5D6A7;
}
    
.mui-b-green-200 {
  border-color: #A5D6A7;
}
    
.mui-green-300 {
  color: #81C784;
}
    
.mui-bg-green-300 {
  background-color: #81C784;
}
    
.mui-b-green-300 {
  border-color: #81C784;
}
    
.mui-green-400 {
  color: #66BB6A;
}
    
.mui-bg-green-400 {
  background-color: #66BB6A;
}
    
.mui-b-green-400 {
  border-color: #66BB6A;
}
    
.mui-green-500 {
  color: #4CAF50;
}
    
.mui-bg-green-500 {
  background-color: #4CAF50;
}
    
.mui-b-green-500 {
  border-color: #4CAF50;
}
    
.mui-green-600 {
  color: #43A047;
}
    
.mui-bg-green-600 {
  background-color: #43A047;
}
    
.mui-b-green-600 {
  border-color: #43A047;
}
    
.mui-green-700 {
  color: #388E3C;
}
    
.mui-bg-green-700 {
  background-color: #388E3C;
}
    
.mui-b-green-700 {
  border-color: #388E3C;
}
    
.mui-green-800 {
  color: #2E7D32;
}
    
.mui-bg-green-800 {
  background-color: #2E7D32;
}
    
.mui-b-green-800 {
  border-color: #2E7D32;
}
    
.mui-green-900 {
  color: #1B5E20;
}
    
.mui-bg-green-900 {
  background-color: #1B5E20;
}
    
.mui-b-green-900 {
  border-color: #1B5E20;
}
    
.mui-green-A100 {
  color: #B9F6CA;
}
    
.mui-bg-green-A100 {
  background-color: #B9F6CA;
}
    
.mui-b-green-A100 {
  border-color: #B9F6CA;
}
    
.mui-green-A200 {
  color: #69F0AE;
}
    
.mui-bg-green-A200 {
  background-color: #69F0AE;
}
    
.mui-b-green-A200 {
  border-color: #69F0AE;
}
    
.mui-green-A400 {
  color: #00E676;
}
    
.mui-bg-green-A400 {
  background-color: #00E676;
}
    
.mui-b-green-A400 {
  border-color: #00E676;
}
    
.mui-green-A700 {
  color: #00C853;
}
    
.mui-bg-green-A700 {
  background-color: #00C853;
}
    
.mui-b-green-A700 {
  border-color: #00C853;
}