.mui-pink-50 {
  color: #FCE4EC;
}
    
.mui-bg-pink-50 {
  background-color: #FCE4EC;
}
    
.mui-b-pink-50 {
  border-color: #FCE4EC;
}
    
.mui-pink-100 {
  color: #F8BBD0;
}
    
.mui-bg-pink-100 {
  background-color: #F8BBD0;
}
    
.mui-b-pink-100 {
  border-color: #F8BBD0;
}
    
.mui-pink-200 {
  color: #F48FB1;
}
    
.mui-bg-pink-200 {
  background-color: #F48FB1;
}
    
.mui-b-pink-200 {
  border-color: #F48FB1;
}
    
.mui-pink-300 {
  color: #F06292;
}
    
.mui-bg-pink-300 {
  background-color: #F06292;
}
    
.mui-b-pink-300 {
  border-color: #F06292;
}
    
.mui-pink-400 {
  color: #EC407A;
}
    
.mui-bg-pink-400 {
  background-color: #EC407A;
}
    
.mui-b-pink-400 {
  border-color: #EC407A;
}
    
.mui-pink-500 {
  color: #E91E63;
}
    
.mui-bg-pink-500 {
  background-color: #E91E63;
}
    
.mui-b-pink-500 {
  border-color: #E91E63;
}
    
.mui-pink-600 {
  color: #D81B60;
}
    
.mui-bg-pink-600 {
  background-color: #D81B60;
}
    
.mui-b-pink-600 {
  border-color: #D81B60;
}
    
.mui-pink-700 {
  color: #C2185B;
}
    
.mui-bg-pink-700 {
  background-color: #C2185B;
}
    
.mui-b-pink-700 {
  border-color: #C2185B;
}
    
.mui-pink-800 {
  color: #AD1457;
}
    
.mui-bg-pink-800 {
  background-color: #AD1457;
}
    
.mui-b-pink-800 {
  border-color: #AD1457;
}
    
.mui-pink-900 {
  color: #880E4F;
}
    
.mui-bg-pink-900 {
  background-color: #880E4F;
}
    
.mui-b-pink-900 {
  border-color: #880E4F;
}
    
.mui-pink-A100 {
  color: #FF80AB;
}
    
.mui-bg-pink-A100 {
  background-color: #FF80AB;
}
    
.mui-b-pink-A100 {
  border-color: #FF80AB;
}
    
.mui-pink-A200 {
  color: #FF4081;
}
    
.mui-bg-pink-A200 {
  background-color: #FF4081;
}
    
.mui-b-pink-A200 {
  border-color: #FF4081;
}
    
.mui-pink-A400 {
  color: #F50057;
}
    
.mui-bg-pink-A400 {
  background-color: #F50057;
}
    
.mui-b-pink-A400 {
  border-color: #F50057;
}
    
.mui-pink-A700 {
  color: #C51162;
}
    
.mui-bg-pink-A700 {
  background-color: #C51162;
}
    
.mui-b-pink-A700 {
  border-color: #C51162;
}